html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.calculator {
    width: 400px;
    height:700px;
    background-color: rgb(118, 80, 84);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.result-screen {
    background-color: rgb(215, 215, 148);
    width: 90%;
    height: 17%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 6px;
    font-size: 200%;
}

.btn-container {
    background-color: lightblue;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

.row {
    height: 18%;
    display: flex;
    gap: 1%;
    padding: 1%;
}

button {
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
    flex: 1;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}


.lst {
    width: 49.5%;
    display: flex;
    gap: 2%;
}

.digit {
    background-color: #a2bbcf;
}

.operation {
    background-color: #205b7a;
    color: rgb(238, 164, 238);
}

.equal-btn, .dot {
    background-color: #1d3849; 
    color: gold;
}

.functionality {
    background-color: #1d3849;
    color: #a2bbcf;
}
